.box1
{
    float:left;
    width: 23%;
    height: 100%;    
}

.box3
{
    float:left;
    width: 42%;
    height: 100%;
}

.box2 
{
    float:left;
    width: 35%;
    height: 100%;
}
.vl{
    // 
    // height: 100%;
    // 
    // left: 50%;
    color: black;
    position: absolute;
    // left: 50%;
    height: 100%;
    border-left: 10px solid rgb(243 242 242);
}
